.pie-path:hover{
    fill: red;
    border: 3px solid black;
}
.pie-path {
    pointer-events:all;
}

.line1 {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}
.line0 {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}


.data-collector {
    height: 300px;
    background-color: #ccc;
    width: 100%;
}
.buttons-box {
    display: flex;
    justify-content: space-evenly;
}

.metrics-container{
    display: flex;
    width: 100%;
    background-color: #ccc;
    border: 2px solid black;
    justify-content: space-between;
}   

.metrics-total {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.metric{ 
 margin-left: 5%;
 margin-right: 5%;
 margin: 10px;
 transition: opacity .3s;
}

.metric:hover{
    opacity: .7;
    box-shadow: 0 0 10px;
}

.radar{
    margin: 50px;
}

.charts{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.chart-container{
    display: flex;
}

.chart-controls{
    margin-top: 25%;
    z-index: 2;
}

.most-common-metric{
    display: flex;
}