.pie-path:hover{
    fill: red;
    border: 3px solid black;
}
.pie-path {
    pointer-events:all;
}

.line1 {
    fill: none;
    stroke: black;
    stroke-width: 3px;
}
.line0 {
    fill: none;
    stroke: blue;
    stroke-width: 3px;
}


.data-collector {
    height: 300px;
    background-color: #ccc;
    width: 100%;
}
.buttons-box {
    display: flex;
    justify-content: space-evenly;
}